* {
	color: black;
}
body > header, body > nav {
	display: none;
}
body > footer p{
	margin: 0;
	margin-top: 3rem;
	padding: 1em;
	font-size: 0.75em;
	border: 1px solid black;
}
a {
	text-decoration: none;
}
