---
---
* {
	color: black;
	font-family: "Times New Roman", Times, serif;
}
body > header, body > nav {
	display: none;
}
body > footer {
	margin-top: 1rem;
	font-size: 0.75em;
	border-top: 1px solid black;
}
a {
	text-decoration: none;
}
a:after {
	content:" (" attr(href) " )";
	font-size: 2.5mm;
	font-weight: normal;
}
hr {
	border: none;
	border-bottom: 1px solid black;
	height: 0px;
}
