---
---
* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
body {
	background-color: #4d4d4d;
}


body > header {
	margin: 0;
	color: #eff0f1;
	background-color: #4d4d4d;
	padding: 1rem;

	h1 {
		display: block;
		font-size: 2em;
		max-width: 64rem;
		margin-left: auto;
		margin-right: auto;
		user-select: none;
	}
}

@media (orientation: portrait) {
	body > header {
		background-image: URL("{{ "/menu.svg" | relative_url }}");
		background-repeat: no-repeat;
		background-position: right;
		background-origin: content-box;
	}
}


body > nav {
	background-color: #31363b;
	width: 100%;
	top: 0;
	position: sticky;

	* {
		background-color: #31363b;
		color: #eff0f1;
	}

	ul {
		list-style-type: none;
		display:block;
		overflow:hidden;
		max-width: 64em;
		margin-left: auto;
		margin-right: auto;
	}

	li {
		float: left;
	}

	a {
		display: block;
		padding: 0.5em;
		text-decoration: none;
	}

	a:hover {
		background-color: #3daee9;
	}
}

@media (orientation: portrait) {
	body > nav {
		display: none;
		position: static;
	}
	body > nav:hover {
		display: block;
	}
	body > header:hover ~ nav {
		display: block;
	}
	body > nav li {
		float: none;
	}
	body > nav a {
		padding: 1em;
	}
}


body > main {
	background-color: #eff0f1;
	padding: 1em;
	color: #232629;

	* {
		max-width: 64rem;
		margin-left: auto;
		margin-right: auto;
	}

	h2, h3, h4, h5, h6 {
	margin-top: 1em;
	margin-bottom: 0.5em;
	}

	p {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	a {
		text-decoration: none;
		color: #2980b9;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: #2980b9;
	}

	table {
		border-collapse: collapse;
	}

	table, th, td {
		border: 1px solid black;
	}
	ul, ol {
		list-style-position: inside;
	}
}

body > main > :first-child {
	margin-top: 0;
}

body > main > :last-child {
	margin-bottom: 0;
}


body > footer {
	padding: 0.5em;
	background-color: #31363b;
	text-align: right;
	font-size: 0.75em;

	* {
	color: #eff0f1;
	}

	a {
		text-decoration: none;
		color: #3daee9;
	}

	a:hover {
		text-decoration: underline;
		text-decoration-color: #3daae9;
	}
}

@media (orientation: portrait) {
	body > footer {
		text-align: center;
	}
}
