---
sitemap:
  exclude: 'yes'
---

* {
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

body > header {
    height: 2em;
    padding: 0.5em;
    h1 {
        margin: 0;
        height: 100%;
        img {
            height: 100%;
        }
    }
}

body > nav {
    position: sticky;
    top: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: white;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
            display: block;
            a {
                display: block;
                padding: 0.5em;
            }
        }
    }
}

body > main {
    padding: 0.5em;
    p {
        text-align: justify;
    }
    > :first-child {
        margin-top: 0;  
    }
    > :last-child {
        margin-bottom: 0;  
    }
}

body > footer {
    border-top: 1px solid black;
    background: white;
    padding: 0.5rem;
    position: sticky;
    bottom: 0;
    font-size: 0.75em;
    > :first-child {
        margin-top: 0;  
    }
    > :last-child {
        margin-bottom: 0;  
    }
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (orientation: portrait) {
    body > header {
        background-image: URL("{{ "/menu.svg" | absolute_url }}");
        background-repeat: no-repeat;
        background-position: right;
        background-origin: content-box;
        cursor: pointer;
    }
    
    body > nav {
        max-height: 0;
        overflow: hidden;
        border-bottom: none;
        ul {
            flex-direction: column;
        }
    }
    
    body > nav:hover:not(.nav-hide), body > header:hover ~ nav:not(.nav-hide) , body > nav.nav-show {
        max-height: none;
        border-bottom: 1px solid black;
    }
}
